jobs:
  test:
    executor:
      name: go/default
      tag: "1.14"
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - go/test:
          covermode: atomic
          failfast: true
          race: true

  lint:
    executor:
      name: go/default
      tag: "1.14"
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - run:
          name: downloads
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.31.0
            go get github.com/matthewloring/validjson/cmd/validjson
      - run:
          name: lint
          command: |
            go run github.com/golangci/golangci-lint/cmd/golangci-lint run ./...
            go run github.com/matthewloring/validjson/cmd/validjson ./...
      - go/save-cache

version: 2.1
orbs:
  go: circleci/go@1.3.0
workflows:
  main:
    jobs:
      - test
      - lint
